<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Post{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F8J4JB6H2N"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-F8J4JB6H2N');
    </script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% if not request.endpoint == 'dashboard' %}
    <header>
        <h1><a href="{{ url_for('index') }}">Weapons Grade Bolognium</a></h1>
        <p class="subtitle"><a href="{{ url_for('index') }}">by Mathew Kirby</a></p>
    </header>
    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$','$$'], ['\\[','\\]']],
            processEscapes: true
        },
        options: {
            skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
        }
    };
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
